<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>EduBridge</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/li  bs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href ="/static/variables.css" />
    <link rel="stylesheet" href="/static/role_page.css" />
    <link rel="stylesheet" href ="/static/theme-switch.css" />
  </head>
  <body>
    <h1 id="mainHeading">Welcome to EduBridge</h1>
    <p id="rolePrompt">Please select your role:</p>

    <div id="roleContainer">
      <button class="roleBtn" id="studentBtn">
        <i class="fa-solid fa-user-graduate"></i> Student
      </button>

      <button class="roleBtn" id="instructorBtn">
        <i class="fa-solid fa-chalkboard-user"></i> Instructor
      </button>
    </div>

    <script src="/static/role_page.js"></script>
    <script type ="text/javascript" src = "/static/font-switch.js" defer ></script>
    <script type ="text/javascript" src = "/static/darkmode.js" defer ></script>
  </body>
</html>
